@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Background-Forum.png) no-repeat;
    background-size: cover;
    background-position: center;



}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    user-select: none;
    margin-top: -2px;
}


.box{
    height: 45px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-right: -50px;
}

.box:hover input{
    width: 300px;

}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    cursor: pointer;

}

.bpx a .fas{
    color: black;
    font-size: 18px;

}

h2{
    font-size: 1.5em;
    color: #fff;
    user-select: none;
    margin-left:-50px;
    margin-top: -13px;

}

.navigation{
    margin-right: -50px;
}

.navigation a{ 
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;


}

.navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
   
}


.container {
    width: 40%;
    height: 70%;
    margin: auto;
    align-items: center;
    margin-top: 80px;
}

.panel {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: transparent;
    border: 6px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
}

.panel-body {
    padding: 20px;
    line-height: 45px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: 30px bold;
    color: white;
}

label a{
    font-weight: 30px bold;
    color: white;
    
}

.form-control {
    width: 700px; 
    height: 159px;
    max-width: 700px; 
    max-height: 200px; 
    min-width: 700px; 
    min-height: 159px; 
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    user-select: none;
}

.btn-primary {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.post-box {
    border: 2px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    background: rgba(44, 40, 40, 0.4); /* Sfondo con sfocatura */

}

.joinconv-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

.joinconv-button:hover {
    background-color: #2980b9;
}

.remove-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 420px;
    
}

.remove-button:hover{
    background-color: #cc0000;
}

