@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(immagini/Background-2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container .row {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    align-items: center;
    margin-left: 5px;
}

.card{
    width: 90%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

}

.card .profile-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid transparent;
    align-items: center;
}

.card h2{
    font-size: 20px;
    margin: auto;
    font-weight: 200;
    margin-top: 10px;
    align-items: center;
    
}


.btn-Logout{
    
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 400;
    margin-left: 40px;
    margin-right: -95px;
    transition: .3s;
    transition: all 0.2s ease;

}

.btn-Logout:active{
    transform: scale(0.96);
}

.btn-Logout:hover{
    background: #fff;
    color: #162938;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    color:#fff;
    margin-left: -45px;
    user-select: none;
}


.custom-header .logo {
    font-size: 1.5em;
    color: #fff;
    user-select: none;
    margin-left: -5px;
    margin-top: -15px;
}

.btn-DeleteAccount{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border-radius: 60px ;
    border: 2px solid #fff;
    padding: 10px 30px;
    transition: .3s;
    transition: all 0.2s ease;
    margin: 35px 0 5px;
}

.btn-DeleteAccount:active{
    transform: scale(0.96);
}

.btn-DeleteAccount:hover{
    background: red;
    color: white;
    border: 2px solid red;
}